@font-face {
  font-family: "II Vorkurs";
  src: url("../assets/Fonts/IIVorkursLight.woff2") format("woff2"), url("../assets/Fonts/IIVorkursLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "II Vorkurs";
  src: url("../assets/Fonts/IIVorkursMedium.woff2") format("woff2"), url("../assets/Fonts/IIVorkursMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "II Vorkurs";
  src: url("../assets/Fonts/IIVorkursBold.woff2") format("woff2"), url("../assets/Fonts/IIVorkursBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "II Vorkurs", sans-serif !important;
  overflow-x: hidden !important;
}

body {
  position: relative;
}

.l-main-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header__container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
}
.header__container img {
  height: 100%;
  padding: 1rem 1rem;
  border: 1px solid white;
  background-color: white;
}
.header__container ul {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  margin-left: 6rem;
}
.header__container li {
  font-size: 1.2rem;
}

.header__socials {
  height: 100%;
  width: 110px;
  position: fixed;
  z-index: 1;
  background-color: transparent !important;
}
.header__socials nav {
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
}
.header__socials li {
  text-decoration: none;
  list-style-type: none;
  padding: 1.5rem 0;
}
.header__socials ul {
  padding: 0;
  padding-bottom: 2rem;
}

.contact-item li a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-item li a:link, .contact-item li a:visited, .contact-item li a:focus {
  color: white;
}
.contact-item li a:hover {
  color: grey;
}
.contact-item li a button {
  margin: 0;
  background-color: transparent;
  border-radius: 100px;
  padding: 1rem 1.3rem;
  color: white;
  margin-left: 1rem;
  border: 1px solid white;
}
.contact-item li a button:hover {
  background-color: white;
  color: black;
}

main {
  width: 100%;
  margin-top: -120px;
  position: relative;
}
main > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;
  padding: 5rem 0;
}
main > section > div {
  max-width: 1200px !important;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  main > section > div {
    max-width: 960px !important;
    width: 100%;
  }
}
footer {
  display: flex;
  justify-content: center;
}
footer > div {
  width: 100%;
  max-width: 1250px;
  padding: 5rem 0;
  margin-left: 6rem;
  border-top: 1px solid white;
}
footer > div > .row {
  margin-left: 6rem;
}
footer h4 {
  font-size: 1.4rem;
}
footer .left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .left-column p {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.separation {
  border-left: 1px solid white;
  padding-left: 3rem;
}

.confi {
  font-size: 0.8rem;
  color: grey;
}
.confi p {
  margin: 0;
}
.confi a {
  color: white;
  text-decoration: none;
}
.confi a:link, .confi a:visited, .confi a:focus {
  color: grey;
}
.confi a:hover {
  color: lightgrey;
}

.phone-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-info p {
  display: inline;
  text-align: center;
  padding: 6rem 3rem;
  border: 1px solid white;
  border-radius: 100%;
  margin: 0;
}

.bottom-info p {
  padding: 0;
  margin: 0;
}

.made-by {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.made-by p {
  margin: 0;
  padding: 0;
  color: grey;
}

.height-manager {
  height: 300px;
}

h1 {
  padding: 0;
  margin: 0;
  line-height: 5rem;
  font-size: 5rem;
}

.fa__img {
  margin-top: -5rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.fa__img img {
  position: absolute;
  width: 30rem;
  top: -8rem;
}

.testCol {
  margin: 0 !important;
  padding: 0 !important;
}

.fa__text h1 {
  font-weight: 700;
  font-size: 5rem;
}
.fa__text .propos, .fa__text p {
  font-weight: 200;
  font-size: 1.5rem;
  word-spacing: 3px;
}
.fa__text p {
  font-size: 1rem !important;
}
.fa__text ul {
  columns: 2;
  margin: 0;
  padding: 0;
  width: 110%;
}
.fa__text li {
  list-style-type: none;
  padding: 0.5rem 0;
}
.fa__text li::before {
  content: "+";
  color: #ffc33b;
  padding-right: 1rem;
}
.fa__text li:nth-of-type(5) {
  margin-top: -0.5rem;
}
.fa__text button {
  background-color: white;
  border-radius: 100px;
  padding: 0.5rem 2rem;
  border: 1px solid black;
  margin-top: 3rem;
}
.fa__text button a {
  color: black;
  text-decoration: none;
}
.fa__text button a:link, .fa__text button a:visited, .fa__text button a:focus {
  color: black;
}
.fa__text button a:hover {
  color: grey !important;
}
.fa__text button:hover {
  background-color: black;
  color: white;
}

.full-image {
  width: 100%;
  margin-left: 1rem;
}
.full-image iframe {
  width: 123.3%;
}

.full-width {
  width: 100%;
}

.c-main-entreprise-container-titre h1 {
  color: white;
}
.c-main-entreprise-container-titre p {
  color: grey;
}

.card {
  background-color: #212121;
  width: 10rem;
  height: 15rem;
  display: flex;
  justify-content: space-between;
}

.card-img-top {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  width: 32px;
  height: 32px;
}

a {
  color: white;
  text-decoration: none;
}
a:link, a:visited, a:focus {
  color: white;
}
a:hover {
  color: grey;
}

.arrow-oblique {
  transform: rotate(225deg);
}

.all-enterprise > .card {
  background-color: #171717;
}
.all-enterprise > .card .card-img-top {
  width: 64px !important;
  height: 64px !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(28deg) brightness(95%) contrast(80%);
}

.c-main-largeBanner {
  z-index: 1000;
  height: 130px;
}
.c-main-largeBanner ul {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  left: 0;
  width: 100%;
  height: 130px;
}
.c-main-largeBanner li {
  list-style-type: none;
  color: white;
  font-size: 8.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  font-weight: 200;
}
.c-main-largeBanner li::after {
  content: "/";
  padding: 0 2rem;
}
.c-main-largeBanner li .sup {
  color: #ffc33b;
  margin-bottom: 3rem;
  display: block;
  font-size: 5rem;
}
.c-main-largeBanner li span {
  font-size: 8.5rem;
}

.c-main-largeBanner {
  z-index: 1000;
  height: 130px;
}
.c-main-largeBanner ul {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  left: 0;
  width: 100%;
  height: 130px;
}
.c-main-largeBanner li {
  list-style-type: none;
  color: white;
  font-size: 8.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  font-weight: 200;
}
.c-main-largeBanner li::after {
  content: "/";
  padding: 0 2rem;
}
.c-main-largeBanner li .sup {
  color: #ffc33b;
  margin-bottom: 3rem;
  display: block;
  font-size: 5rem;
}
.c-main-largeBanner li span {
  font-size: 8.5rem;
}

.top-margin {
  margin-top: 6.5rem;
  margin-bottom: 3rem;
}
.top-margin h1 {
  font-size: 5rem;
}

.top-container {
  margin-top: 6rem;
}
.top-container h3 {
  font-size: 1.2rem;
}
.top-container p {
  font-size: 2.1rem;
}
.top-container ul {
  margin-right: 5.5rem;
  margin-left: 2.47rem;
  text-indent: -2.47rem;
}
.top-container ul li {
  list-style-type: none;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: grey;
}
.top-container ul li:before {
  content: "+";
  color: #ffc33b;
  padding-right: 2rem;
}

.container-titles {
  margin-top: 0.9rem;
}

.left-manager {
  margin-left: 2rem;
}

.top-col p {
  width: 85%;
}

.c-main-preFooter div {
  width: 100%;
}
.c-main-preFooter h4 {
  color: white;
}
.c-main-preFooter ul {
  columns: 4;
  width: 100%;
  padding: 0;
  margin: 0;
}
.c-main-preFooter li {
  list-style-type: none;
  padding: 0.75rem 0;
  color: lightgrey;
  font-size: 1rem;
}
.c-main-preFooter a {
  color: white;
  text-decoration: none;
}
.c-main-preFooter a:link, .c-main-preFooter a:visited, .c-main-preFooter a:focus {
  color: grey;
}
.c-main-preFooter a:hover {
  color: lightgrey;
}

.pole-div {
  margin-top: 25rem;
  margin-bottom: 6rem;
}

.title_size {
  font-size: 4.65rem;
}

.image-l {
  margin-top: -23rem;
  width: 1200px;
}

.par-style {
  white-space: pre-line;
  padding: 2.5rem;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-front img {
  width: 250px;
  height: 300px;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back p {
  line-height: 1rem;
}

.container-flipcards {
  margin-left: -9rem;
}

.lepole-margin {
  margin-left: 7rem;
}

.lepole-card-title {
  margin-left: 7.7rem;
}

.lepole-card {
  margin-right: 7rem;
}

.lepole-banner {
  margin-top: -7rem;
}
.lepole-banner ul li {
  color: black;
}

.lepole-card-dimension {
  width: 14rem;
  height: 18rem;
}

.arrow-size-lepole {
  margin-left: 1.25rem;
  width: 32px;
  height: 32px;
}

.lepole-card__margin {
  margin-top: -15rem;
}

.lepole-top__margin {
  margin-top: 6rem;
}

.lepole-bottom {
  margin-top: -1rem;
  margin-bottom: -23rem;
}

.pole-lastimage {
  margin-top: 12rem;
  height: 400px;
  width: 150%;
}

.lepole-bottomimage {
  margin-bottom: 0;
}

.button-size {
  font-size: 0.8rem;
}

.c-main-secteurs {
  height: 100%;
  padding-top: 3rem;
}

.secteurs__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none !important;
  color: white !important;
}
.secteurs__container h1 {
  margin: 2rem 0 1rem 0;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -3px;
}
.secteurs__container h2 {
  border: none !important;
}
.secteurs__container h2 * {
  border: none !important;
}
.secteurs__container .secteurs__sideMenu {
  position: relative;
}
.secteurs__container .secteurs__sideMenu .test {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%;
  position: fixed;
  left: 0;
  border-right: 1px solid white;
}
.secteurs__container .secteurs__sideMenu .test > * {
  margin-left: 27.5%;
}
.secteurs__container .secteurs__sideMenu .test h1 {
  display: inline;
}
.secteurs__container .secteurs__sideMenu .accordion {
  width: 100%;
}
.secteurs__container .secteurs__sideMenu .accordion-item {
  width: 100% !important;
  border: none;
  background-color: transparent !important;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 35%;
}
.secteurs__container .secteurs__sideMenu .accordion-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.secteurs__container .secteurs__sideMenu .accordion-button {
  background-color: transparent !important;
  padding: 0.5rem 0 !important;
  color: white;
  border: none !important;
}
.secteurs__container .secteurs__sideMenu .accordion-button::after {
  background-image: none;
}
.secteurs__container .secteurs__sideMenu .accordion-button::before {
  content: "+";
  padding-right: 2rem;
  color: #ffc33b;
}
.secteurs__container .secteurs__sideMenu .accordion-header {
  background-color: transparent !important;
}

.secteurs__content {
  margin: 4rem 0 1rem 0;
  width: 70%;
}
.secteurs__content .content__search {
  margin: 0 0 2rem 0;
  width: 100%;
}
.secteurs__content .content__search input {
  width: 100%;
  border-radius: 100px;
  border: none;
  padding: 0.75rem;
}
.secteurs__content .body__img {
  width: 40%;
}
.secteurs__content .body__img img {
  width: 100%;
}
.secteurs__content .body__info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secteurs__content .accordion-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent !important;
}
.secteurs__content .accordion-body a:hover {
  color: #ffc33b;
}
.secteurs__content .accordion-body .info__bot {
  font-size: 0.9rem;
  color: grey;
}
.secteurs__content .accordion-item {
  background-color: transparent !important;
  border: none !important;
}
.secteurs__content .accordion-header .accordion-button {
  background-color: transparent !important;
  border: none !important;
  color: white;
  font-size: 2rem !important;
}
.secteurs__content .accordion-header .accordion-button:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  display: block !important;
  filter: invert(78%) sepia(98%) saturate(767%) hue-rotate(324deg) brightness(100%) contrast(102%);
}
.secteurs__content p {
  padding: 0;
  margin: 0;
}

.sectors-list {
  margin: 0;
  padding: 0;
  width: 100% !important;
}
.sectors-list form {
  width: 100%;
}
.sectors-list ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
.sectors-list li {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}
.sectors-list li label {
  width: 100%;
  padding: 0 1rem;
}
.sectors-list li button {
  font-size: 0.8rem;
}
.sectors-list li input {
  display: flex;
  align-items: center;
}
.sectors-list li input[type=checkbox] {
  opacity: 0;
  z-index: 3;
}
.sectors-list li .custom-check {
  border: 1px solid #ffc33b;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 0;
  z-index: 2;
  border-radius: 3px;
}
.sectors-list li input[type=checkbox]:checked ~ .custom-check {
  background-color: #ffc33b;
}

.label-input-icon {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label-input-icon input {
  width: 100%;
  background-color: #171a1d;
  box-sizing: border-box;
  padding: 1rem;
  color: white;
}
.label-input-icon i {
  position: absolute;
  right: 1rem;
  color: white;
  border-left: 1px solid #212529;
  padding: 0.55rem 0 0.55rem 0.55rem;
  cursor: pointer;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tags .tag {
  border: 1px solid grey !important;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem 0 0.5rem;
  font-size: 0.8rem;
  color: grey;
}

.accordion-button {
  display: flex;
  align-items: center;
}

.container-espace {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.cont-titre-nos-espaces {
  display: flex;
  flex-direction: column;
}
.cont-titre-nos-espaces .titre-nos-espaces {
  padding-left: 0;
}
.cont-titre-nos-espaces .titre-nos-espaces p {
  margin-bottom: 2rem;
}

.image-center {
  width: 100%;
}
.image-center img {
  width: 100%;
}

main section.espace .no-max-w {
  max-width: 100% !important;
}

.redirect-espace {
  background-color: white;
  border-radius: 100px;
  padding: 0.5rem 2rem;
  border: 1px solid #212529;
  margin-top: 3rem;
}
.redirect-espace a {
  color: black;
  text-decoration: none;
}
.redirect-espace a:link, .redirect-espace a:visited, .redirect-espace a:focus {
  color: #212529;
}
.redirect-espace a:hover {
  color: grey !important;
}

button:hover {
  background-color: #212529;
  color: white;
}

.image-center-outils img {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
}

.image-center-espace {
  width: 100%;
  margin-top: 4rem;
}
.image-center-espace img {
  width: 100%;
}

main section.espace .no-max-w {
  max-width: 100% !important;
}

.accordion-item {
  border-bottom: 0.5px solid #656565;
  color: white;
}
.accordion-item :hover {
  background-color: #212529;
  color: white;
}

.accordion-button {
  background-color: #212529 !important;
  border: none !important;
  color: white;
}

.accordion-header {
  border: none !important;
}
.accordion-header .accordion-header:hover {
  border: none;
}

.accordion-body {
  background-color: #212529;
}
.accordion-body p {
  color: white;
}

.container-titles {
  padding: 0;
  margin: 0;
}
.container-titles h3 {
  color: white !important;
  margin-bottom: 1.5rem;
}

.cat-nos-outils li {
  color: white;
  font-weight: lighter;
  list-style: none;
}
.cat-nos-outils h2 {
  color: white;
}

ul {
  padding: 0;
}

ul:nth-of-type(2) {
  margin-top: 1.5rem;
}

li {
  color: white;
  font-weight: lighter;
  list-style: none;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

li::before {
  margin: 0;
  content: "+";
  color: #ffc33b;
  padding-right: 2rem;
  padding-bottom: 1rem;
  line-height: 2rem;
}

h2 {
  color: white;
}

.accordion-button:not(.collapsed) {
  color: #fff !important;
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
  text-decoration: none !important;
  box-shadow: 0px !important;
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.1rem transparent !important;
}

.accordion-button:not(.collapsed)::after {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  content: "";
  background-image: url("images/add.svg");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  transform: rotate(45deg);
}

.accordion-button::after {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  content: "";
  background-image: url("images/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  transition: transform 0.2s ease-in-out;
  transform: rotate(300deg);
}

.espace-cta {
  margin-top: 0;
  margin-bottom: 0;
}
.espace-cta > div {
  width: 100%;
  max-width: 100% !important;
  position: relative;
}
.espace-cta .top-left {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  margin-left: 10%;
}
.espace-cta .top-left > * {
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
