.top-margin {
  margin-top: 6.5rem;
  margin-bottom: 3rem;
  h1{
    font-size: 5rem;
  }
}

.top-container{
  // margin-left: 11.2rem;
  margin-top: 6rem;
  h3{
    font-size: 1.2rem;

  }
  h3:first-of-type{
    margin: 0;
  }
  p{
    font-size: 2.1rem;
  }
  ul {
    margin-right: 5.5rem;
    margin-left: 0rem;
    padding: 0;
    li {
      color: white;
      font-weight: lighter;
      list-style: none;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      
    }
    li::before {
      margin: 0;
      content: "+";
      color: #ffc33b;
      padding-right: 2rem;
    }
  }
 
  
}

.container-titles{
  // margin-left: 0.5rem;
  margin-top: 0.9rem;
}

.left-manager{
  margin-left:2rem;
}

.top-col{
  p{
    width:85%;
  }
}