.container-espace {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.cont-titre-nos-espaces {
  display: flex;
  flex-direction: column;
  .titre-nos-espaces {
    padding-left: 0;
    p {
      margin-bottom: 2rem;
    }
  }
}

.image-center {
  width: 100%;
  img {
    width: 100%;
  }
}

main section.espace .no-max-w {
  max-width: 100% !important;
}

.redirect-espace {
  background-color: white;
  border-radius: 100px;
  padding: 0.5rem 2rem;
  border: 1px solid #212529;
  margin-top: 3rem;
  a {
    color: black;
    text-decoration: none;
    &:link,
    &:visited,
    &:focus {
      color: #212529;
    }
    &:hover {
      color: grey !important;
    }
  }
}
button:hover {
  background-color: #212529;
  color: white;
}
.image-center-outils {
  img {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
  }
}

.image-center-espace {
  width: 100%;
  margin-top: 4rem;
  a:hover{
      color:white;
  }
  img {
    width: 100%;
  }
  &:hover{
    cursor: pointer;
      &::after{
          background-color:rgb(33,37,41);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 150px;
          top: 50%;
          left: 50%;
          width: 100px;
          height: 100px;
          content: url('./images/arrow-down.svg');
          transform: rotate(230deg);
      }
  }
}

main section.espace .no-max-w {
  max-width: 100% !important;
}


.accordion-item {
  border-bottom: 0.5px solid #656565;
  color: white;
  :hover {
    background-color: #212529;
    color: white;
  }
}
.accordion-button {
  background-color: #212529 !important;
  border: none !important;
  color: white;
}

.accordion-header {
  border: none !important;
  .accordion-header:hover {
    border: none;
  }
}

.accordion-body {
  background-color: #212529;
  p {
    color: white;
  }
}

.container-titles {
  padding: 0;
  margin: 0;
  h3 {
    color: white !important;
    margin-bottom: 1.5rem;
  }
}
.cat-nos-outils{
    li {
        color: white;
        font-weight: lighter;
        list-style: none;
    }

    h2 {
        color: white;
    }
  ul {
    padding: 0;
  }
  ul:nth-of-type(2) {
    margin-top: 1.5rem;
  }
  li {
    color: white;
    font-weight: lighter;
    list-style: none;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  li::before {
    margin: 0;
    content: "+";
    color: #ffc33b;
    padding-right: 2rem;
  }
  h2 {
    color: white;
  }
}

.accordion-button:not(.collapsed) {
  color: #fff !important;
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
  text-decoration: none !important;
  box-shadow: 0px !important;
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.1rem transparent !important;
}

.accordion-button:not(.collapsed)::after {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    margin-left: auto;
    content: "";
    background-image: url("images/add.svg");
    background-repeat: no-repeat;
    background-size: 2.5rem;
    transform: rotate(45deg);
}

.accordion-button::after {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    margin-left: auto;
    content: "";
    background-image: url("images/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 2.5rem;
    transition: transform .2s ease-in-out;
    transform: rotate(300deg);

}

.espace-cta{
<<<<<<< HEAD
    position: relative;
=======
  margin-top: 0;
  margin-bottom: 0;
  color: white;
>>>>>>> 5994d90b4f0929b510442d6d655f5de4ab886990
  &>div{
    width: 100%;
    max-width: 100%!important;
    position: relative;
  }
  .top-left{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    margin-left: 10%;
    &>*{
      text-align: left;
    }
  }
}