.container-espace {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.cont-titre-nos-espaces {
    display: flex;
    flex-direction: column;
    .titre-nos-espaces {
        padding-left: 0;
    }
}

.image-center{
    width: 100%;
    img{
        width:100%;
    }
}

main section.espace .no-max-w{
    max-width: 100%!important;
}