.c-main-preFooter{
    div{
        width: 100%;
    }
    h1{
        color:white;
        margin-left: 5.9rem;
    }
    ul{
        columns:4;
        width: 100%;
        padding: 0;
        margin:0;
    }
    li{
        list-style-type: none;
        padding: 0.75rem 0;
        color: lightgrey;
        font-size: 1rem;
        margin-left: 5.9rem;
    }
    a {
        color: white;
        text-decoration: none;
        &:link,
        &:visited,
        &:focus {
          color: grey;
        }
        &:hover {
          color: lightgrey;
        }
      }
}